.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.estiloso {
  background-color: #fe9900;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.estiloso h1 {
  width: 100%;
  text-align: center;
  padding:20px;
  font-size: 48px;
  background-color: #773f04;
  color: white;
  border: 5px solid black;
}

.formularosos {
  color: black;
  margin-bottom:20px;
}

thead {color: black;}
tbody {color: black;}

table, th, td {
  border: 1px solid black;
  background-color: white;
  font-size: 21px;
}